@font-face {
  font-family: "Noto Sans";
  src: url("../assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf");
}

:root {
  --desktop-width: 1440px;
  --mobile-width: 375px;
  /* Colors */

  /* Neutral */
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  /* Red */

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  /* Gradient */

  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: "Noto Sans";
  margin: 0;
  padding: 5% 5%;
  background: var(--dark-gradient);
  height: 100%;
  color: var(--neutral-200);
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scrollbar-width: none;
}

button {
  cursor: pointer;
}

.header {
  background-color: var(--neutral-800);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 2vh;
  padding: 5px 10px 5px 0;
}

.header-logo-mask .header-logo {
  display: none;
}

.header * {
  margin: 5px 10px;
  max-width: 90%;
}

.toggle-scheme {
  background-color: var(--neutral-700);
  border-style: none;
  border-radius: 10px;
  padding: 8px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.toggle-scheme img {
  max-width: 90%;
}

.toggle-scheme:hover {
  background-color: var(--neutral-600);
}

[scheme="0"] .toggle-scheme img:last-child,
[scheme="0"] .header-logo img:last-child {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 10vh;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2vh;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  display: flex;
  background-color: var(--neutral-700);
  border-radius: 25px;
  margin: 10px;
  padding: 10px 20px;
  justify-content: center;
  position: relative;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: var(--neutral-600);
  transition: background-color 0.2s;
}

.filter-btn:hover {
  background-color: var(--neutral-600);
}

.filter-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  user-select: none;
  -webkit-user-select: none;
}

.filter-btn:has(input:checked) {
  background-color: var(--red-400);
  color: var(--neutral-800);
  font-weight: 700;
  margin: 8px;
  border-style: none;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  border-radius: 15px;
  background-color: var(--neutral-800);
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: var(--neutral-600);
  justify-content: center;
}

.card-top,
.card-bottom {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.card-top {
  font-size: 15px;
}

.card-top img {
  margin-right: 5px;
  max-height: 7vh;
}

.card-text {
  width: 100%;
  padding: 0 10px 0px 10px;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.card-description {
  color: var(--neutral-300);
}

[scheme="1"] .card-description {
  color: gray;
}

.card-bottom {
  align-items: center;
}

.remove-btn {
  display: flex;
  background-color: var(--neutral-800);
  color: var(--neutral-100);
  border-radius: 25px;
  padding: 8px 15px;
  justify-content: center;
  position: relative;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: var(--neutral-600);
  font-size: 14px;
  transition: background-color 0.2s;
}

.remove-btn:hover {
  background-color: var(--neutral-600);
}

.toggle-active-btn {
  display: flex;
  background-color: var(--neutral-600);
  border-radius: 20px;
  padding: 2px 20px 2px 2px;
  justify-content: center;
  position: relative;
  align-items: center;
  transition:
    padding 0.5s,
    background-color 0.2s;
}

.toggle-active-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  user-select: none;
  -webkit-user-select: none;
}

.toggle-active-btn:has(input:checked) {
  background-color: var(--red-400);
  color: var(--neutral-800);
  font-weight: 700;
  padding: 2px 2px 2px 20px;
}

.toggle-active-btn label {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: var(--neutral-0);
}

@media (min-width: 600px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .cards-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (min-width: 1440px) {
  body {
    padding: 2% 10%;
  }

  .header {
    margin-bottom: 5vh;
  }

  .main-header {
    justify-content: space-between;
  }

  .cards-container {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  .card-top {
    margin-bottom: 5vh;
  }
}
